*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.4rem;
}

.container{
    max-width: 1024px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

/* utility css */

a{
    text-decoration: none;
}
.text-center{
    text-align: center;
}
.text-primary{
    color: #67599C;
}
.text-dark{
    color: #000000;
}

.text-light{
    color: #79797c;
}

.bg-primary{
    background: #67599C;
}
.bg-dark{
    background: #000000;
}

.bg-light{
    background: #79797c;
}

.py1{
    padding: 1.5rem 0;
}
.py2{
    padding: 2rem 0;
}
.py3{
    padding: 3rem 0;
}
.py4{
    padding: 4rem 0;
}

.px1{
    padding: 0 1.5rem;
}
.px2{
    padding: 0 2rem;
}
.px3{
    padding: 0 3rem;
}
.px4{
    padding: 0 4rem;
}

.p1{
    padding: 1.5rem;
}
.p2{
    padding: 2rem;
}
.p3{
    padding: 3rem;
}
.p4{
    padding: 4rem;
}


.my1{
    padding: 1.5rem 0;
}
.my2{
    padding: 2rem 0;
}
.my3{
    padding: 3rem 0;
}
.my4{
    padding: 4rem 0;
}

.mx1{
    padding: 0 1.5rem;
}
.mx2{
    padding: 0 2rem;
}
.mx3{
    padding: 0 3rem;
}
.mx4{
    padding: 0 4rem;
}

.m1{
    padding: 1.5rem;
}
.m2{
    padding: 2rem;
}
.m3{
    padding: 3rem;
}
.m4{
    padding: 4rem;
}

.btn{
    display: inline-block;
    padding: 0.5rem 2rem;
    border:none;
    border-radius: 33px;
    cursor: pointer;
}

.btn:hover{
    background: #1a1a1a;
    color: #fff;
}

.btn-dark{
    background: #000;
    color:#fff;
    padding: 15px 30px;
}
.btn-dark-outline{
    background: #f3f2f8;
    color:#000;
    padding: 15px 30px;
    border: 1px solid #000000;
}

/* navbar section */

#navbar{
    background: #f7f6fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7rem;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a{
    color: #000;
    padding:0.75rem;
    margin: 0 0.25rem;
}

/* search bar */
.search-form {
    color: #555;
    display: flex;
    padding: 15px;
    border: 1px solid currentColor;
    border-radius: 25px;
}

.search-form i{
    margin-right:5px;
}

.search-box{
    border: none;
    background: #f7f6fa;
    border-radius: inherit;
}

.search-form input:focus{
    outline: none;
    border-color: #f7c08a;
} 

/* content section */

#content{
    background: #f3f2f8;
    display: flex;
    /* height: 87vh; */
    padding: 100px;
}

#content .content-image{
    justify-content: center;
    flex-basis: 60%;
}

#content .content-section{
    flex-basis: 40%;
}

#content .content-section h1.title{
    font-size: 48px;
}

#content .content-section .title-underline{
    border-radius: 15px;
    background: #67599C;
    height: 31px;
    opacity: 0.2;
    position: absolute;
    width: 450px;
    margin-top: -12px;
    margin-left: -10px;
}

#content .content-section .items{
    display: flex;
    flex-direction: column;
}

#content .content-section .subtitle{
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

#content .content-section .description{
    width: 505px;
    font-size: 16px;
    line-height: 30px;
}

#content .content-section .price{
    margin-top: 1.5rem;
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
}

#content .content-section .tax{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 3rem;
}

#content .content-section .size-box{
    margin-bottom: 30px;
}

#content .content-section .size-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#content .content-section .size-item{
    padding: 10px 40px;
    border: 1px #d1d0d5 solid;
    text-align: center;
    margin: 10px;
    border-radius: 4px;
}

#content .content-section .size-item:hover{
    background-color: #1a1a1a;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

#content .content-section .buttons{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-right: 100px;
}

#content .content-section .buttons div{
    margin-left: 20px;
    flex: 1;
}

#content .content-section .buttons div a{
    width: 100%;
    font-size: 18px;
}


/* media queries for mobile */

@media screen and (max-width: 500px) {

    /* navbar section */

    #navbar {
        padding: 1.5rem;
    }

    #navbar .logo img{
        width: 60px;
    }

    .search-form{
        border: none;
        padding: 5px;
    }

    .search-form input{
        display: none;
    }

    #navbar ul li a {    
        color: #000;
        padding: 0.75rem;
        margin: 0 0.15rem;
    }

    #navbar ul li {    
        font-size: 14px;
    }

    /* content section */

    #content{
        flex-direction: column;
        padding: 20px;
    }
    
    #content .content-image img{
        width: 100%;
    }

    #content .content-section h1.title{
        font-size: 28px;
    }
    
    #content .content-section .title-underline{
        height: 21px;
        width: 267px;
    }
    #content .content-section .subtitle{
        padding: 1rem 0;
    }
    #content .content-section .description{
        width: 310px;
        line-height: 30px;
    }
    #content .content-section .price {
        margin-top: 0.5rem;
    }
    #content .content-section .tax{
        margin-bottom: 2.5rem;
    }
    #content .content-section .size-item{
        border-radius: 4px;
        font-size: 14px;
        padding: 0px;
        padding-top: 7px;
        margin: 5px;
        width: 100px;
        height: 42px;
    }

    #content .content-section .size-item:nth-child(5),
    #content .content-section .size-item:nth-child(7){
        display: none;
    }

    #content .content-section .buttons{
        padding: 0 30px;
        margin-bottom: 10px;
        flex-direction: column;
    }

    #content .content-section .buttons div:nth-child(1){
        margin-bottom: 20px;
    }

    #content .content-section .items .item:nth-child(3){
        order: 1;
    }

}